# DSO110 - Final Group Project - Lottery
Alberta "Albi" Kovatcheva and Barbra Treston



## Background
Albi and Barbra have chosen the “Mega Millions Winning Numbers” dataset because the lottery is something that is familiar and accessible to a wide range of people worldwide; it would be difficult to find someone who hasn’t dreamed of hitting the jackpot and changing their life forever. However, it is also widely accepted that the lottery is not set up to favor the player.  In the case of Mega Millions, although there is a 1 in 24 chance of winning something, the odds of choosing all 6 numbers correctly to win the jackpot is 1 in 302,575,350 - a fact that is posted openly on both the New York Lottery and Mega Millions websites.  By analyzing the winning numbers data as well as complementary datasets on lottery retailers, lottery aid to local school districts, and monies recouped from the lottery winnings of public aid recipients, Albi and Barbra hope to glean insight to make actionable suggestions on how lottery players can get the best return on their investment as well as to demonstrate for the average person whether the lottery serves any societal good or whether it may be best to abstain from playing altogether.


## Data Wrangling

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import math
import numpy as np
from numpy import nan
import datetime as dt
from datetime import date

### Import data.

### 1. Winning numbers May 17, 2002 to November 26, 2021

In [2]:
Winning_Numbers = pd.read_csv("Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv")
pd.set_option("display.max_columns", None)
Winning_Numbers.head()

    Draw Date Winning Numbers  Mega Ball  Multiplier
0  09/25/2020  20 36 37 48 67         16         2.0
1  09/29/2020  14 39 43 44 67         19         3.0
2  10/02/2020  09 38 47 49 68         25         2.0
3  10/06/2020  15 16 18 39 59         17         3.0
4  10/09/2020  05 11 25 27 64         13         2.0

#### Extract month, day, year, weekday, and quarter from 'Draw Date'.

In [3]:
Winning_Numbers['Draw Date']= pd.to_datetime(Winning_Numbers['Draw Date'])

In [4]:
Winning_Numbers['month'] = pd.DatetimeIndex(Winning_Numbers['Draw Date']).month

In [5]:
Winning_Numbers['day'] = pd.DatetimeIndex(Winning_Numbers['Draw Date']).day

In [6]:
Winning_Numbers['year'] = pd.DatetimeIndex(Winning_Numbers['Draw Date']).year

In [7]:
Winning_Numbers['weekday'] = pd.DatetimeIndex(Winning_Numbers['Draw Date']).dayofweek
Winning_Numbers['weekday1'] = pd.DatetimeIndex(Winning_Numbers['Draw Date']).day_name()

In [8]:
Winning_Numbers['quarter'] = pd.DatetimeIndex(Winning_Numbers['Draw Date']).quarter
Winning_Numbers.head()

,Draw Date,Winning Numbers,Mega Ball,Multiplier,month,day,year,weekday,weekday1,quarter
0,2020-09-25,20 36 37 48 67,16,2.0,9,25,2020,4,Friday,3
1,2020-09-29,14 39 43 44 67,19,3.0,9,29,2020,1,Tuesday,3
2,2020-10-02,09 38 47 49 68,25,2.0,10,2,2020,4,Friday,4
3,2020-10-06,15 16 18 39 59,17,3.0,10,6,2020,1,Tuesday,4
4,2020-10-09,05 11 25 27 64,13,2.0,10,9,2020,4,Friday,4

In [9]:
Winning_Numbers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036 entries, 0 to 2035
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Draw Date        2036 non-null   datetime64[ns]
 1   Winning Numbers  2036 non-null   object
 2   Mega Ball        2036 non-null   int64
 3   Multiplier       1133 non-null   float64
 4   month            2036 non-null   int64
 5   day              2036 non-null   int64
 6   year             2036 non-null   int64
 7   weekday          2036 non-null   int64
 8   weekday1         2036 non-null   object
 9   quarter          2036 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(2)
memory usage: 159.2+ KB

#### Convert 'Winning Numbers' to string and then separate terms into individual columns (5).

In [10]:
Winning_Numbers["Winning Numbers"]= Winning_Numbers["Winning Numbers"].astype(str)

In [11]:
Winning_Numbers[['Ball1','Ball2',"Ball3","Ball4","Ball5"]] =  Winning_Numbers['Winning Numbers'].str.split(' ', expand=True)
Winning_Numbers.drop(columns =["Winning Numbers"], inplace = True)
Winning_Numbers.head()

,Draw Date,Mega Ball,Multiplier,month,day,year,weekday,weekday1,quarter,Ball1,Ball2,Ball3,Ball4,Ball5
0,2020-09-25,16,2.0,9,25,2020,4,Friday,3,20,36,37,48,67
1,2020-09-29,19,3.0,9,29,2020,1,Tuesday,3,14,39,43,44,67
2,2020-10-02,25,2.0,10,2,2020,4,Friday,4,09,38,47,49,68
3,2020-10-06,17,3.0,10,6,2020,1,Tuesday,4,15,16,18,39,59
4,2020-10-09,13,2.0,10,9,2020,4,Friday,4,05,11,25,27,64

In [12]:
Winning_Numbers.set_index('Draw Date')

,Mega Ball,Multiplier,month,day,year,weekday,weekday1,quarter,Ball1,Ball2,Ball3,Ball4,Ball5
Draw Date,,,,,,,,,,,,,
2020-09-25,16,2.0,9,25,2020,4,Friday,3,20,36,37,48,67
2020-09-29,19,3.0,9,29,2020,1,Tuesday,3,14,39,43,44,67
2020-10-02,25,2.0,10,2,2020,4,Friday,4,09,38,47,49,68
2020-10-06,17,3.0,10,6,2020,1,Tuesday,4,15,16,18,39,59
2020-10-09,13,2.0,10,9,2020,4,Friday,4,05,11,25,27,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-12,15,2.0,11,12,2021,4,Friday,4,30,32,42,46,48
2021-11-16,3,3.0,11,16,2021,1,Tuesday,4,06,22,44,53,65
2021-11-19,18,5.0,11,19,2021,4,Friday,4,05,23,52,53,59
2021-11-23,6,3.0,11,23,2021,1,Tuesday,4,07,24,54,57,58
2021-11-26,2,2.0,11,26,2021,4,Friday,4,07,27,37,42,59

### 2. Jackpots Wins May 17, 2002 to October 22, 2021

In [13]:
Winners = pd.read_csv("jackpot winners.csv")
pd.set_option("display.max_columns", None)

Winners.head()

        Date   amount  won   cash prize              location state gender
0  5/17/2002       23300000         NaN         Chatham, Ill.    IL  Mixed
1  5/24/2002       23300000         NaN         Chicago, Ill.    IL      F
2  7/16/2002       23300000         NaN  Cliffside Park, N.J.    NJ      M
3  8/27/2002       23300000         NaN   New York City, N.Y.    NY  Mixed
4   9/6/2002       23300000         NaN       Kentwood, Mich.    MI      M

In [14]:
Winners.rename(columns={'Date': 'Draw Date', ' amount  won ':'Jackpot'}, inplace=True)
Winners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Draw Date   223 non-null    object
 1   Jackpot     223 non-null    int64
 2   cash prize  18 non-null     float64
 3   location    223 non-null    object
 4   state       220 non-null    object
 5   gender      223 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 10.6+ KB

In [15]:
Winners['Draw Date']= pd.to_datetime(Winners['Draw Date'])

In [16]:
Wins = pd.DataFrame(Winners.groupby('Draw Date')['Jackpot'].sum())
Wins

               Jackpot
Draw Date
2002-05-17    23300000
2002-05-24    23300000
2002-07-16    23300000
2002-08-27    23300000
2002-09-06    23300000
...                ...
2021-02-23  1050000000
2021-05-21   516000000
2021-09-07    55000000
2021-09-21   431000000
2021-10-22   108000000

[198 rows x 1 columns]

### 3. Non-Jackpot Wins October 16, 2012 to November 26, 2021

In [17]:
SmallWinners = pd.read_csv("nonjackpot winners.csv")
pd.set_option("display.max_columns", None)
SmallWinners.head()

    Draw Date    Prize Gender              City State
0  11/26/2021  2000000      M  Washtenaw County    MI
1   9/21/2021    30000      M         Baltimore    MD
2   8/31/2021  3000000      M        New Berlin    WI
3   8/20/2021  1000000      F      Newport News    VA
4   7/27/2021  3000000    Unk      Grand Strand    SC

In [18]:
SmallWinners['Draw Date']= pd.to_datetime(SmallWinners['Draw Date'])
SmallWins = pd.DataFrame(SmallWinners.groupby('Draw Date')['Prize'].sum())
SmallWins

               Prize
Draw Date
2012-10-16   3005000
2012-11-27  50000000
2013-10-25    479070
2013-11-01   1000000
2013-11-05    410115
...              ...
2021-07-27   3000000
2021-08-20   1000000
2021-08-31   3000000
2021-09-21     30000
2021-11-26   2000000

[213 rows x 1 columns]

### Merging the Datasets

In [19]:
Prizes = Wins.merge(SmallWins, how='outer', on='Draw Date')
Prizes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 387 entries, 2002-05-17 to 2021-11-26
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Jackpot  198 non-null    float64
 1   Prize    213 non-null    float64
dtypes: float64(2)
memory usage: 9.1 KB

In [20]:
Winning_Numbers = Winning_Numbers.merge(Prizes, how='left', on='Draw Date')

In [21]:
Winning_Numbers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2036 entries, 0 to 2035
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Draw Date   2036 non-null   datetime64[ns]
 1   Mega Ball   2036 non-null   int64
 2   Multiplier  1133 non-null   float64
 3   month       2036 non-null   int64
 4   day         2036 non-null   int64
 5   year        2036 non-null   int64
 6   weekday     2036 non-null   int64
 7   weekday1    2036 non-null   object
 8   quarter     2036 non-null   int64
 9   Ball1       2036 non-null   object
 10  Ball2       2036 non-null   object
 11  Ball3       2036 non-null   object
 12  Ball4       2036 non-null   object
 13  Ball5       2036 non-null   object
 14  Jackpot     198 non-null    float64
 15  Prize       213 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(6)
memory usage: 270.4+ KB

In [22]:
Winning_Numbers

,Draw Date,Mega Ball,Multiplier,month,day,year,weekday,weekday1,quarter,Ball1,Ball2,Ball3,Ball4,Ball5,Jackpot,Prize
0,2020-09-25,16,2.0,9,25,2020,4,Friday,3,20,36,37,48,67,NaN,NaN
1,2020-09-29,19,3.0,9,29,2020,1,Tuesday,3,14,39,43,44,67,NaN,NaN
2,2020-10-02,25,2.0,10,2,2020,4,Friday,4,09,38,47,49,68,NaN,NaN
3,2020-10-06,17,3.0,10,6,2020,1,Tuesday,4,15,16,18,39,59,NaN,NaN
4,2020-10-09,13,2.0,10,9,2020,4,Friday,4,05,11,25,27,64,NaN,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2031,2021-11-12,15,2.0,11,12,2021,4,Friday,4,30,32,42,46,48,NaN,NaN
2032,2021-11-16,3,3.0,11,16,2021,1,Tuesday,4,06,22,44,53,65,NaN,NaN
2033,2021-11-19,18,5.0,11,19,2021,4,Friday,4,05,23,52,53,59,NaN,NaN
2034,2021-11-23,6,3.0,11,23,2021,1,Tuesday,4,07,24,54,57,58,NaN,NaN
2035,2021-11-26,2,2.0,11,26,2021,4,Friday,4,07,27,37,42,59,NaN,2000000.0

In [23]:
Winning_Numbers.set_index('Draw Date')

,Mega Ball,Multiplier,month,day,year,weekday,weekday1,quarter,Ball1,Ball2,Ball3,Ball4,Ball5,Jackpot,Prize
Draw Date,,,,,,,,,,,,,,,
2020-09-25,16,2.0,9,25,2020,4,Friday,3,20,36,37,48,67,NaN,NaN
2020-09-29,19,3.0,9,29,2020,1,Tuesday,3,14,39,43,44,67,NaN,NaN
2020-10-02,25,2.0,10,2,2020,4,Friday,4,09,38,47,49,68,NaN,NaN
2020-10-06,17,3.0,10,6,2020,1,Tuesday,4,15,16,18,39,59,NaN,NaN
2020-10-09,13,2.0,10,9,2020,4,Friday,4,05,11,25,27,64,NaN,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-12,15,2.0,11,12,2021,4,Friday,4,30,32,42,46,48,NaN,NaN
2021-11-16,3,3.0,11,16,2021,1,Tuesday,4,06,22,44,53,65,NaN,NaN
2021-11-19,18,5.0,11,19,2021,4,Friday,4,05,23,52,53,59,NaN,NaN
2021-11-23,6,3.0,11,23,2021,1,Tuesday,4,07,24,54,57,58,NaN,NaN
2021-11-26,2,2.0,11,26,2021,4,Friday,4,07,27,37,42,59,NaN,2000000.0

### Export data to excel file.

In [24]:
Winning_Numbers.to_csv('Lottery_Mega_Millions_Winning_Numbers__Beginning_2002_Wrangled.csv')

## Data Exploration

In [25]:
Jackpot = pd.read_csv("jackpot winners.csv")
Jackpot.head()

        Date   amount  won   cash prize              location state gender
0  5/17/2002       23300000         NaN         Chatham, Ill.    IL  Mixed
1  5/24/2002       23300000         NaN         Chicago, Ill.    IL      F
2  7/16/2002       23300000         NaN  Cliffside Park, N.J.    NJ      M
3  8/27/2002       23300000         NaN   New York City, N.Y.    NY  Mixed
4   9/6/2002       23300000         NaN       Kentwood, Mich.    MI      M

## Machine Learning

In [30]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import metrics
import numpy as np

In [27]:
Winning_Numbers['Ball1'] =Winning_Numbers['Ball1'].astype('category')
Winning_Numbers['Ball2'] =Winning_Numbers['Ball2'].astype('category')
Winning_Numbers['Ball3'] =Winning_Numbers['Ball3'].astype('category')
Winning_Numbers['Ball4'] =Winning_Numbers['Ball4'].astype('category')
Winning_Numbers['Ball5'] =Winning_Numbers['Ball5'].astype('category')

cat_feat = ['Mega Ball','Multiplier']
for feat in cat_feat:
     Winning_Numbers1[feat] = Winning_Numbers1[feat].astype('category')

NameError: name 'Winning_Numbers1' is not defined

In [29]:
Winning_Numbers['Ball1'] =Winning_Numbers['Ball1'].astype('category')
Winning_Numbers['Ball2'] =Winning_Numbers['Ball2'].astype('category')
Winning_Numbers['Ball3'] =Winning_Numbers['Ball3'].astype('category')
Winning_Numbers['Ball4'] =Winning_Numbers['Ball4'].astype('category')
Winning_Numbers['Ball5'] =Winning_Numbers['Ball5'].astype('category')

# cat_feat = ['Mega Ball','Multiplier']
# for feat in cat_feat:
Winning_Numbers1[feat] = Winning_Numbers1[feat].astype('category')

NameError: name 'Winning_Numbers1' is not defined

In [31]:
Winning_Numbers = LinearRegression()
Winning_Numbers.fit(x_train, y_train)

# lm = LinearRegression()
# lm.fit(x_train, y_train)

NameError: name 'x_train' is not defined

In [ ]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [ ]:
X = Winning_Numbers.drop(['Mega Ball'],axis=1)
y = Winning_Numbers['Mega Ball']

In [ ]:
#from sklearn.linear_model import LogisticRegression
#from sklearn.metrics import classification_report, confusion_matrix
#models = []
#models.append(("LR",LogisticRegression(solver='liblinear')))
#print(models)

In [ ]:
#import statsmodels.formula.api as smf
#model_fit3 = smf.logit(formula='MegaBall ~C(Ball1)+C(Ball2)', data=winning_numbers).fit()