## Setup

### import packages

In [7]:
library(tidyr)
library(gridExtra)
library(dplyr)
library(datasets)
library(ggplot2)
library(Ecdat)
library(car)
library(multcomp)
library(gmodels)

### import datasets

In [59]:

WinningNumbers <- read.csv("Lottery_Mega_Millions_Winning_Numbers__Beginning_2002_Wrangled.csv")
Wins <- read.csv("AllWinners.csv")
View(Wins)

    X   Draw.Date  Amount    cash.prize Location              State Gender Win
1    0  2002-05-17 2.33e+07  NA         Chatham, Ill.         IL    Mixed  Y
2    1  2002-05-24 2.33e+07  NA         Chicago, Ill.         IL    F      Y
3    2  2002-07-16 2.33e+07  NA         Cliffside Park, N.J.  NJ    M      Y
4    3  2002-08-27 2.33e+07  NA         New York City, N.Y.   NY    Mixed  Y
5    4  2002-09-06 2.33e+07  NA         Kentwood, Mich.       MI    M      Y
6    5  2002-09-27 2.33e+07  NA         Mount Prospect, Ill.  IL    Mixed  Y
7    6  2002-11-08 2.33e+07  NA         Hoquiam, Wash.        WA    Mixed  Y
8    7  2002-11-19 2.33e+07  NA         New York City, N.Y.   NY    Mixed  Y
9    8  2002-12-24 2.33e+07  NA         Unclaimed in N.Y.     NY    Unk    Y
10   9  2003-02-11 2.33e+07  NA         Brooklyn, N.Y.        NY    M      Y
11  10  2003-02-18 2.33e+07  NA         Geraldine, Ala.       AL    Unk    Y
12  11  2003-03-14 2.33e+07  NA         Englewood, N.J.       NJ    Mixed  Y
13  12  2003-03-28 2.33e+07  NA         Randallstown, Md.     MD    Unk    Y
14  13  2003-04-25 2.33e+07  NA         Brooklyn, N.Y.        NY    Unk    Y
15  14  2003-06-20 2.33e+07  NA         Baldwin, Md.          MD    F      Y
16  15  2003-07-11 2.33e+07  NA         Uniondale, N.Y.       NY    F      Y
17  16  2003-08-08 2.33e+07  NA         Savannah, Ga.         GA    M      Y
18  17  2003-09-30 2.33e+07  NA         Fitzgerald, Ga.       GA    M      Y
19  18  2003-10-07 2.33e+07  NA         Neptune Township N.J. MJ    F      Y
20  19  2003-11-11 2.33e+07  NA         Roswell, Ga.          GA    M      Y
21  20  2003-11-11 2.33e+07  NA         Roswell, Ga.          GA    M      Y
22  21  2003-11-11 2.33e+07  NA         Battle Creek, Mich.   MI    Mixed  Y
23  22  2003-12-30 1.62e+08  NA         South Euclid, Ohio    OH    F      Y
24  23  2004-02-20 2.39e+08  NA         Winchester, Va.       VA    Mixed  Y
25  24  2004-03-02 2.10e+07  NA         Dayton, Ohio          OH    M      Y
26  25  2004-04-09 1.09e+08  NA         Wheaton, Md.          MD    Unk    Y
27  26  2004-05-07 6.70e+07  NA         Rockaway Beach, N.Y.  NY    Mixed  Y
28  27  2004-07-02 2.94e+08  NA         Boston, Mass.         MA    Unk    Y
29  28  2004-07-23 4.70e+07  NA         Pullman, Mich.        MI    M      Y
30  29  2004-07-27 1.00e+07  NA         Cherry Hill, N.J.     NJ    M      Y
... ... ...        ...       ...        ...                   ...   ...    ...
468 467 2014-01-14   1000000 NA         Andover                MA   Mixed  Y
469 468 2014-01-14   1000000 NA         Greensboro             NC   F      Y
470 469 2013-12-24   1000000 NA         Lombard                IL   F      Y
471 470 2013-12-24   1000000 NA         Mesa                   AZ   M      Y
472 471 2013-12-20   1000000 NA         Payson                 AZ   M      Y
473 472 2013-12-17 324000000 NA         San Jose               CA   M      Y
474 473 2013-12-17 324000000 NA         Stone Mountain         GA   M      Y
475 474 2013-12-17   1000000 NA         Brownsville            TX   F      Y
476 475 2013-12-17   1000000 NA         Niles                  MI   F      Y
477 476 2013-12-17   1000000 NA         Bethlehem              GA   M      Y
478 477 2013-12-17   1000000 NA         Columbus               NE   Mixed  Y
479 478 2013-12-17   1000000 NA         Chicago                IL   F      Y
480 479 2013-12-13   1000000 NA         Syracuse               NY   Mixed  Y
481 480 2013-12-13   1000000 NA         Waterford              MI   M      Y
482 481 2013-12-13   1000000 NA         Manhattan              NY   M      Y
483 482 2013-12-13   1000000 NA         Eastpointe             MI   F      Y
484 483 2013-12-10   1000000 NA         Shelton                CT   M      Y
485 484 2013-12-10   1000000 NA         West Yarmouth          MA   M      Y
486 485 2013-11-26   1000000 NA         Glendale Heights       IL   M      Y
487 486 2013-11-26   1000000 NA         Coram                  NY   M      Y
488 487 2013-11-26   1000000 NA         Stony Point            NY   F      Y
489 488 2013-11-22   3000000 NA         Rockwell               NC   M      Y
490 489 2013-11-19   1000000 NA         Holbrook               MA   Mixed  Y
491 490 2013-11-15   1000000 NA         Irondequoit            NY   F      Y
492 491 2013-11-12   1000000 NA         Floral Park Village    NY   Mixed  Y
493 492 2013-11-05    410115 NA         Oceanside              CA   M      Y
494 493 2013-11-01   1000000 NA         Fort Stockton          TX   F      Y
495 494 2013-10-25    479070 NA         Palmdale               CA   M      Y
496 495 2012-11-27  50000000 NA         Thomasville            GA   M      Y
497 496 2012-10-16   3005000 NA         Hyannis                MA   M      Y
    Jackpot
1   Y
2   Y
3   Y
4   Y
5   Y
6   Y
7   Y
8   Y
9   Y
10  Y
11  Y
12  Y
13  Y
14  Y
15  Y
16  Y
17  Y
18  Y
19  Y
20  Y
21  Y
22  Y
23  Y
24  Y
25  Y
26  Y
27  Y
28  Y
29  Y
30  Y
... ...
468 N
469 N
470 N
471 N
472 N
473 N
474 N
475 N
476 N
477 N
478 N
479 N
480 N
481 N
482 N
483 N
484 N
485 N
486 N
487 N
488 N
489 N
490 N
491 N
492 N
493 N
494 N
495 N
496 N
497 N

In [28]:
Jackpots<- filter (Wins, Jackpot == "Y")

In [30]:
JackpotByGender <- aggregate(JackpotAmount~Gender, Wins, mean)
JackpotByGender

  Gender JackpotAmount
1 F       93696552
2 M      107261728
3 Mixed  106522059
4 Unk    502384444

In [27]:
NonJackpots<- filter (Wins, Jackpot == "N")

In [50]:

NonJackpotByGender <- aggregate(NonJackpotAmount~Gender, Wins, mean)
NonJackpotByGender

  Gender NonJackpotAmount
1 F       1345265
2 M       9750284
3 M       1000000
4 Mixed   1149327
5 Unk    48750000

## Analysis

## 1. In the Mega Millions, what are the optimal numbers to select in order to achieve a return on investment (ROI)?

## 2. Does gender influence Prize Amount?

### Jackpots

In [49]:
Jackpots$Gender <- as.factor(Jackpots$Gender)

#### Testing Assumptions


##### 1. Normality

In [ ]:
plotNormalHistogram(Jackpots$JackpotAmount)
#  positive skew

In [ ]:
Jackpots$JackpotAmountSQRT <- sqrt(Jackpots$JackpotAmount)

In [ ]:
plotNormalHistogram(Jackpots$JackpotAmountSQRT)
#  positive skew

In [ ]:
Jackpots$JackpotAmountLOG <-log(Jackpots$JackpotAmount)

In [ ]:
plotNormalHistogram(Jackpots$JackpotAmountLOG)
# normal

##### 2. Homogeneity of Variance

In [ ]:

bartlett.test(JackpotAmountLOG~Gender, data=Jackpots)

	Bartlett test of homogeneity of variances

data:  JackpotAmountLOG by Gender
Bartlett's K-squared = 8.4638, df = 3, p-value = 0.03734

this test is not significant, the assumption is met

##### 4. Sample size

this assumption is met - need 20 per IV or CV and I have 1, so need at least 20 and there are 223 jackpot winners!


#### Running the Analysis

In [ ]:
JackpotsANOVA <- aov(Jackpots$JackpotAmountLOG~Jackpots$Gender)
summary(JackpotsANOVA)

                 Df Sum Sq Mean Sq F value Pr(>F)
Jackpots$Gender   3   7.11   2.369   2.026  0.111
Residuals       219 256.14   1.170

The ANOVA is not significant, indicating there is no difference in Jackpot size based on Gender.

In [ ]:
pairwise.t.test(Jackpots$JackpotAmountLOG, Jackpots$Gender, p.adjust="none")

	Pairwise comparisons using t tests with pooled SD

data:  Jackpots$JackpotAmountLOG and Jackpots$Gender

      F     M     Mixed
M     0.560 -     -
Mixed 0.436 0.776 -
Unk   0.032 0.038 0.078

P value adjustment method: none

In [ ]:
pairwise.t.test(Jackpots$JackpotAmountLOG, Jackpots$Gender, p.adjust="bonferroni")

	Pairwise comparisons using t tests with pooled SD

data:  Jackpots$JackpotAmountLOG and Jackpots$Gender

      F    M    Mixed
M     1.00 -    -
Mixed 1.00 1.00 -
Unk   0.19 0.23 0.47

P value adjustment method: bonferroni

Pairwise testing indicate that

### Non-Jackpots

In [48]:
NonJackpots$Gender <- as.factor(NonJackpots$Gender)

#### Testing Assumptions


##### 1. Normality

In [ ]:
plotNormalHistogram(NonJackpots$NonJackpotAmount)
#  positive skew

In [ ]:

NonJackpots$NonJackpotAmountSQRT <- sqrt(NonJackpots$NonJackpotAmount)
plotNormalHistogram(NonJackpots$NonJackpotAmountSQRT)
#positive skew

In [52]:

NonJackpots$NonJackpotAmountLOG <-log(NonJackpots$NonJackpotAmount)

In [ ]:

plotNormalHistogram(NonJackpots$NonJackpotAmountLOG)

##### 2. Homogeneity of Variance

In [53]:

bartlett.test(NonJackpotAmountLOG~Gender, data=NonJackpots)

	Bartlett test of homogeneity of variances

data:  NonJackpotAmountLOG by Gender
Bartlett's K-squared = Inf, df = 4, p-value < 2.2e-16

this test is  significant, the assumption is violated

In [54]:
fligner.test(NonJackpotAmountLOG~Gender, data=NonJackpots)

	Fligner-Killeen test of homogeneity of variances

data:  NonJackpotAmountLOG by Gender
Fligner-Killeen:med chi-squared = 12.597, df = 4, p-value = 0.01342

This test is not significant the assumption is met

##### 4. Sample size

this assumption is met - need 20 per IV or CV and I have 1, so need at least 20 and there are 274 non-jackpot winners!


#### Running the Analysis

In [55]:
NonJackpotsANOVA <- aov(NonJackpots$NonJackpotAmountLOG~NonJackpots$Gender)
summary(NonJackpotsANOVA)

                    Df Sum Sq Mean Sq F value Pr(>F)
NonJackpots$Gender   4   15.5   3.874   3.256 0.0125 *
Residuals          269  320.1   1.190
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

The ANOVA is significant, indicating there is  Non-Jackpot prize do vary based on Gender.

In [56]:
pairwise.t.test(NonJackpots$NonJackpotAmountLOG, NonJackpots$Gender, p.adjust="none")

	Pairwise comparisons using t tests with pooled SD

data:  NonJackpots$NonJackpotAmountLOG and NonJackpots$Gender

      F      M      M      Mixed
M     0.1639 -      -      -
M     0.8767 0.6143 -      -
Mixed 0.8080 0.1649 0.9419 -
Unk   0.0012 0.0108 0.1597 0.0017

P value adjustment method: none

In [58]:
pairwise.t.test(NonJackpots$NonJackpotAmountLOG, NonJackpots$Gender, p.adjust="bonferroni")

	Pairwise comparisons using t tests with pooled SD

data:  NonJackpots$NonJackpotAmountLOG and NonJackpots$Gender

      F     M     M     Mixed
M     1.000 -     -     -
M     1.000 1.000 -     -
Mixed 1.000 1.000 1.000 -
Unk   0.012 0.108 1.000 0.017

P value adjustment method: bonferroni

Pairwise testing indicate that

## 3. In NYS, how much does the lottery give back to society? Do certain counties benefit more?

### Testing Assumptions


#### 1. Normality

In [ ]:

plotNormalHistogram(cellPhone$Night.Mins)
#  normal


#### 2. Homogeneity of Variance

In [ ]:

bartlett.test(avgPriceSQRT ~ region, data=avocados1)

# Bartlett test of homogeneity of variances

# data:  avgPriceSQRT by region
# Bartlett's K-squared = 70.75, df = 2, p-value = 4.333e-16

fligner.test(avgPriceSQRT ~ region, data=avocados1)

# Fligner-Killeen test of homogeneity of variances
# 
# data:  avgPriceSQRT by region
# Fligner-Killeen:med chi-squared = 48.139, df = 2, p-value = 3.522e-11


# Does not meet the assumption for homogeneity of variance


#### 3. Sample Size

n = 1014, minium requirement of 20 cases is met


### Running the Analysis

In [ ]:

# Do the Test, with unequal variance
ANOVA1 <- lm(avgPriceSQRT ~ region, data=avocados1)
Anova(ANOVA1, Type="II", white.adjust=TRUE)

# Analysis of Deviance Table (Type II tests)
# 
# Response: avgPriceSQRT
#              Df      F      Pr(>F)    
# region       2     258.85   < 2.2e-16 ***
#   Residuals 1011                     
# ---
#   Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1


#### Post Hocs Analysis

In [ ]:
pairwise.t.test(avocados1$avgPriceSQRT, avocados1$region, p.adjust="bonferroni", pool.sd = FALSE)

# Pairwise comparisons using t tests with non-pooled SD 
# 
# data:  avocados1$avgPriceSQRT and avocados1$region 
# 
#            Albany   Houston
#   Houston  < 2e-16   -      
#   Seattle  8.1e-06   < 2e-16
# 
# P value adjustment method: bonferroni


##### Find means and draw conclusions

In [ ]:

avocadosMeans <- avocados1 %>% group_by(region) %>% summarize(Mean = mean(AveragePrice))
# A tibble: 3 x 2
#     region   Mean
#      <chr>   <dbl>
#   1 Albany   1.56
#   2 Houston  1.05
#   3 Seattle  1.44

# There is no significant difference in average price between the regions.

### Testing Assumptions


#### 1. Normality

In [ ]:
head(EdAid)

In [ ]:

plotNormalHistogram(EdAid$Amount.of.Aid)

#### 2. Homogeneity of Variance

In [ ]:
Homogeneity_RegrSlp = lm(Night.Mins~vMail.Plan, data=cellPhone)
anova(Homogeneity_RegrSlp)

# Analysis of Variance Table
# 
# Response: Night.Mins
#               Df    Sum Sq Mean Sq  F value  Pr(>F)
# vMail.Plan    1      488   487.73   0.1909   0.6622
# Residuals    4615 11791809 2555.10  

# This assumption is met.


#### 3. Homogeneity of Regression Slopes

In [ ]:

Homogeneity_RegrSlp = lm(Night.Mins~vMail.Plan, data=cellPhone)
anova(Homogeneity_RegrSlp)

# Analysis of Variance Table
# 
# Response: Night.Mins
#               Df    Sum Sq Mean Sq  F value  Pr(>F)
# vMail.Plan    1      488   487.73   0.1909   0.6622
# Residuals    4615 11791809 2555.10  

# This assumption is met.


#### 4. Sample size

 is met - need 20 per IV or CV and I have 2, so need at least 40 and there are 4617 cases!

### Running the Analysis

In [ ]:
ANCOVA = lm(Night.Mins~vMail.Plan + International.Plan*vMail.Plan, data=cellPhone)
anova(ANCOVA)

# Analysis of Variance Table
# 
# Response: Night.Mins
# Df   Sum Sq Mean Sq F value  Pr(>F)  
# vMail.Plan                       1      488   487.7  0.1909 0.66216  
# International.Plan               1     7979  7978.6  3.1235 0.07724 .
# vMail.Plan:International.Plan    1      435   435.0  0.1703 0.67989  
# Residuals                     4613 11783396  2554.4                  
# ---
#   Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

 
# the presence or absence of an international phone plan (International.Plan)
# does not influence the use of nighttime minutes (Night.Mins), even holding
# whether or not the client has a voicemail plan (vMail.Plan) constant.