## Setup

### import packages

In [1]:
library(tidyr)
library(gridExtra)
library(dplyr)
library(datasets)
library(ggplot2)
library(Ecdat)
library(car)
library(multcomp)
library(gmodels)

Warning message:
"package 'tidyr' was built under R version 3.6.3"
Warning message:
"package 'gridExtra' was built under R version 3.6.3"
Warning message:
"package 'dplyr' was built under R version 3.6.3"

Attaching package: 'dplyr'


The following object is masked from 'package:gridExtra':

    combine


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'Ecdat' was built under R version 3.6.3"
Loading required package: Ecfun


Attaching package: 'Ecfun'


The following object is masked from 'package:base':

    sign



Attaching package: 'Ecdat'


The following object is masked from 'package:datasets':

    Orange


Loading required package: carData


Attaching package: 'carData'


The following object is masked from 'package:Ecdat':

    Mroz



Attaching package: 'car'


The following object is masked from 'package:dplyr':

    recode


Loading required package: mvtnorm

Warning message:
"package 'mvtnorm' was built under R version 3.6.3"
Loading required package: survival

Warning message:
"package 'survival' was built under R version 3.6.3"
Loading required package: TH.data

Loading required package: MASS

Warning message:
"package 'MASS' was built under R version 3.6.3"

Attaching package: 'MASS'


The following object is masked from 'package:Ecdat':

    SP500


The following object is masked from 'package:dplyr':

    select



Attaching package: 'TH.data'


The following object is masked from 'package:MASS':

    geyser


Warning message:
"package 'gmodels' was built under R version 3.6.3"

### import datasets

In [2]:

WinningNumbers <- read.csv("Lottery_Mega_Millions_Winning_Numbers__Beginning_2002_Wrangled.csv")
Wins <- read.csv("AllWinners.csv")
View(Wins)

    X   Draw.Date  Amount    cash.prize Location              State Gender Win
1    0  2002-05-17 2.33e+07  NA         Chatham, Ill.         IL    Mixed  Y
2    1  2002-05-24 2.33e+07  NA         Chicago, Ill.         IL    F      Y
3    2  2002-07-16 2.33e+07  NA         Cliffside Park, N.J.  NJ    M      Y
4    3  2002-08-27 2.33e+07  NA         New York City, N.Y.   NY    Mixed  Y
5    4  2002-09-06 2.33e+07  NA         Kentwood, Mich.       MI    M      Y
6    5  2002-09-27 2.33e+07  NA         Mount Prospect, Ill.  IL    Mixed  Y
7    6  2002-11-08 2.33e+07  NA         Hoquiam, Wash.        WA    Mixed  Y
8    7  2002-11-19 2.33e+07  NA         New York City, N.Y.   NY    Mixed  Y
9    8  2002-12-24 2.33e+07  NA         Unclaimed in N.Y.     NY    Unk    Y
10   9  2003-02-11 2.33e+07  NA         Brooklyn, N.Y.        NY    M      Y
11  10  2003-02-18 2.33e+07  NA         Geraldine, Ala.       AL    Unk    Y
12  11  2003-03-14 2.33e+07  NA         Englewood, N.J.       NJ    Mixed  Y
13  12  2003-03-28 2.33e+07  NA         Randallstown, Md.     MD    Unk    Y
14  13  2003-04-25 2.33e+07  NA         Brooklyn, N.Y.        NY    Unk    Y
15  14  2003-06-20 2.33e+07  NA         Baldwin, Md.          MD    F      Y
16  15  2003-07-11 2.33e+07  NA         Uniondale, N.Y.       NY    F      Y
17  16  2003-08-08 2.33e+07  NA         Savannah, Ga.         GA    M      Y
18  17  2003-09-30 2.33e+07  NA         Fitzgerald, Ga.       GA    M      Y
19  18  2003-10-07 2.33e+07  NA         Neptune Township N.J. MJ    F      Y
20  19  2003-11-11 2.33e+07  NA         Roswell, Ga.          GA    M      Y
21  20  2003-11-11 2.33e+07  NA         Roswell, Ga.          GA    M      Y
22  21  2003-11-11 2.33e+07  NA         Battle Creek, Mich.   MI    Mixed  Y
23  22  2003-12-30 1.62e+08  NA         South Euclid, Ohio    OH    F      Y
24  23  2004-02-20 2.39e+08  NA         Winchester, Va.       VA    Mixed  Y
25  24  2004-03-02 2.10e+07  NA         Dayton, Ohio          OH    M      Y
26  25  2004-04-09 1.09e+08  NA         Wheaton, Md.          MD    Unk    Y
27  26  2004-05-07 6.70e+07  NA         Rockaway Beach, N.Y.  NY    Mixed  Y
28  27  2004-07-02 2.94e+08  NA         Boston, Mass.         MA    Unk    Y
29  28  2004-07-23 4.70e+07  NA         Pullman, Mich.        MI    M      Y
30  29  2004-07-27 1.00e+07  NA         Cherry Hill, N.J.     NJ    M      Y
... ... ...        ...       ...        ...                   ...   ...    ...
468 467 2014-01-14   1000000 NA         Andover                MA   Mixed  Y
469 468 2014-01-14   1000000 NA         Greensboro             NC   F      Y
470 469 2013-12-24   1000000 NA         Lombard                IL   F      Y
471 470 2013-12-24   1000000 NA         Mesa                   AZ   M      Y
472 471 2013-12-20   1000000 NA         Payson                 AZ   M      Y
473 472 2013-12-17 324000000 NA         San Jose               CA   M      Y
474 473 2013-12-17 324000000 NA         Stone Mountain         GA   M      Y
475 474 2013-12-17   1000000 NA         Brownsville            TX   F      Y
476 475 2013-12-17   1000000 NA         Niles                  MI   F      Y
477 476 2013-12-17   1000000 NA         Bethlehem              GA   M      Y
478 477 2013-12-17   1000000 NA         Columbus               NE   Mixed  Y
479 478 2013-12-17   1000000 NA         Chicago                IL   F      Y
480 479 2013-12-13   1000000 NA         Syracuse               NY   Mixed  Y
481 480 2013-12-13   1000000 NA         Waterford              MI   M      Y
482 481 2013-12-13   1000000 NA         Manhattan              NY   M      Y
483 482 2013-12-13   1000000 NA         Eastpointe             MI   F      Y
484 483 2013-12-10   1000000 NA         Shelton                CT   M      Y
485 484 2013-12-10   1000000 NA         West Yarmouth          MA   M      Y
486 485 2013-11-26   1000000 NA         Glendale Heights       IL   M      Y
487 486 2013-11-26   1000000 NA         Coram                  NY   M      Y
488 487 2013-11-26   1000000 NA         Stony Point            NY   F      Y
489 488 2013-11-22   3000000 NA         Rockwell               NC   M      Y
490 489 2013-11-19   1000000 NA         Holbrook               MA   Mixed  Y
491 490 2013-11-15   1000000 NA         Irondequoit            NY   F      Y
492 491 2013-11-12   1000000 NA         Floral Park Village    NY   Mixed  Y
493 492 2013-11-05    410115 NA         Oceanside              CA   M      Y
494 493 2013-11-01   1000000 NA         Fort Stockton          TX   F      Y
495 494 2013-10-25    479070 NA         Palmdale               CA   M      Y
496 495 2012-11-27  50000000 NA         Thomasville            GA   M      Y
497 496 2012-10-16   3005000 NA         Hyannis                MA   M      Y
    Jackpot
1   Y
2   Y
3   Y
4   Y
5   Y
6   Y
7   Y
8   Y
9   Y
10  Y
11  Y
12  Y
13  Y
14  Y
15  Y
16  Y
17  Y
18  Y
19  Y
20  Y
21  Y
22  Y
23  Y
24  Y
25  Y
26  Y
27  Y
28  Y
29  Y
30  Y
... ...
468 N
469 N
470 N
471 N
472 N
473 N
474 N
475 N
476 N
477 N
478 N
479 N
480 N
481 N
482 N
483 N
484 N
485 N
486 N
487 N
488 N
489 N
490 N
491 N
492 N
493 N
494 N
495 N
496 N
497 N

In [3]:
JackpotByGender <- aggregate(JackpotAmount~Gender, Wins, mean)
JackpotByGender

ERROR: Error in eval(predvars, data, env): object 'JackpotAmount' not found

In [ ]:
Jackpots<- filter (Wins, Jackpot == "Y")

In [ ]:
NonJackpots<- filter (Wins, Jackpot == "N")

## Analysis

## 1. In the Mega Millions, what are the optimal numbers to select in order to achieve a return on investment (ROI)?

## 2. Does gender influence Prize Amount?

### Comparing all Gender Categories

In [ ]:
Wins$Gender <- as.factor(Wins$Gender)

In [ ]:
Wins$Jackpot <- as.factor(Wins$Jackpot)

#### Testing Assumptions


##### 1. Normality

In [ ]:
plotNormalHistogram(Wins$Amount)
#  positive skew

In [ ]:
Wins$AmountSQRT <- sqrt(Wins$Amount)

In [ ]:
plotNormalHistogram(Wins$AmountSQRT)
#  positive skew

In [ ]:
Wins$AmountLOG <-log(Wins$Amount)

In [ ]:
plotNormalHistogram(Wins$AmountLOG)
#better but negatively kurtotic. let's use Tukey's Ladder of Power Transformation

In [ ]:
Wins$AmountTUK <- transformTukey(Wins$Amount, plotit=FALSE)
plotNormalHistogram(Wins$AmountTUK)
#plot is the same as the log transformation. will use AmountLOG

##### 2. Homogeneity of Variance

In [ ]:
leveneTest(Wins$AmountLOG~Gender, data=Wins)

Results were  significant, so the assumption is not met! use the Anova() to correct for violation

##### 3. Homogeneity of Regression Slopes

In [ ]:
Homogeneity_RegrSlp = lm(Wins$AmountLOG~Jackpot, data=Wins)
anova(Homogeneity_RegrSlp)

Unfortunately, since the p value is significant, our data does not meet the assumption of homogeneity of regression slopes. That means that whether someone won a jackpot or not actually does have an impact on the size of their prize, and that you should NOT use Jackpot as a covariate, but rather include it as a second independent variable in the model

##### 4. Sample size

this assumption is met - need 20 per IV or CV and we have 2, so need at least 40 and there are 497 cases


#### Running the Analysis

In [ ]:
ANCOVA = lm(AmountLOG~Jackpot + Gender*Jackpot, data=Wins)
Anova(ANCOVA,Type="I", white.adjust=TRUE)

Gender does appear to influence the size of the prize. However, controlling for whether or not it as a jackpot, that influence disappears

### Comparing Men and Women only

In [ ]:
MenVWomen<- Wins %>% filter(Gender %in% c("M", "F"))
View(MenVWomen)

In [ ]:
MenVWomen$Gender <- as.factor(MenVWomen$Gender)

In [ ]:
MenVWomen$Jackpot <- as.factor(MenVWomen$Jackpot)

#### Testing Assumptions


##### 1. Normality

In [ ]:
plotNormalHistogram(MenVWomen$Amount)
#  positive skew

In [ ]:
MenVWomen$AmountSQRT <- sqrt(MenVWomen$Amount)

In [ ]:
plotNormalHistogram(MenVWomen$AmountSQRT)
#  positive skew

In [ ]:
MenVWomen$AmountLOG <-log(MenVWomen$Amount)

In [ ]:
plotNormalHistogram(MenVWomen$AmountLOG)
#better but negatively kurtotic. let's use Tukey's Ladder of Power Transformation

In [ ]:
MenVWomen$AmountTUK <- transformTukey(MenVWomen$Amount, plotit=FALSE)

In [ ]:
plotNormalHistogram(MenVWomen$AmountTUK)
#plot is the same as the log transformation. will use AmountLOG

##### 2. Homogeneity of Variance

In [ ]:
leveneTest(MenVWomen$AmountLOG~Gender, data=MenVWomen)

Results were  significant, so the assumption is not met! use the Anova() function  to correct for violation

##### 4. Sample size

this assumption is met -need 20 per IV or CV and we have 2, so need at least 40 and there are 320 cases!


#### Running the Analysis

In [ ]:
ANCOVA = lm(AmountLOG~Jackpot + Gender*Jackpot, data=MenVWomen)
Anova(ANCOVA,Type="I", white.adjust=TRUE)

When comparing Men to Women, Gender does not influence the size the prize even controlling for whether or not it was a jackpot.