# DSO110 - Final Group Project - Lottery
Alberta "Albi" Kovatcheva and Barbra Treston



## Background
Albi and Barbra have chosen the “Mega Millions Winning Numbers” dataset because the lottery is something that is familiar and accessible to a wide range of people worldwide; it would be difficult to find someone who hasn’t dreamed of hitting the jackpot and changing their life forever. However, it is also widely accepted that the lottery is not set up to favor the player.  In the case of Mega Millions, although there is a 1 in 24 chance of winning something, the odds of choosing all 6 numbers correctly to win the jackpot is 1 in 302,575,350 - a fact that is posted openly on both the New York Lottery and Mega Millions websites.  By analyzing the winning numbers data as well as complementary datasets on lottery retailers, lottery aid to local school districts, and monies recouped from the lottery winnings of public aid recipients, Albi and Barbra hope to glean insight to make actionable suggestions on how lottery players can get the best return on their investment as well as to demonstrate for the average person whether the lottery serves any societal good or whether it may be best to abstain from playing altogether. 



## Data Wrangling

### Import data.

In [104]:
import pandas as pd
import seaborn as sns
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import math
import numpy as np
from numpy import nan
import datetime as dt
from datetime import date

In [105]:
Winning_Numbers = pd.read_csv("Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv")
pd.set_option("display.max_columns", None)

Winning_Numbers.head()

    Draw Date Winning Numbers  Mega Ball  Multiplier
0  09/25/2020  20 36 37 48 67         16         2.0
1  09/29/2020  14 39 43 44 67         19         3.0
2  10/02/2020  09 38 47 49 68         25         2.0
3  10/06/2020  15 16 18 39 59         17         3.0
4  10/09/2020  05 11 25 27 64         13         2.0

In [106]:
Winners = pd.read_csv("jackpot winners.csv")
pd.set_option("display.max_columns", None)

Winners.head()

         Date   amount  won    cash prize             location state gender
0  10/22/2021      108000000   75200000.0  lake havasu city AZ    AZ  Mixed
1   9/21/2021      431000000  314400000.0         Manhattan NY    NY    Unk
2    9/8/2021       55000000   38000000.0         crestwood IL    IL    Unk
3   5/21/2021      516000000  349300000.0                   PA    PA    Unk
4   2/16/2021       96000000   68500000.0         Blossvale NY    NY  Mixed

In [107]:
Winners.rename(columns={'Date': 'Draw Date', ' amount  won ':'Jackpot'}, inplace=True)
Winners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Draw Date   223 non-null    object
 1   Jackpot     223 non-null    int64
 2   cash prize  18 non-null     float64
 3   location    223 non-null    object
 4   state       219 non-null    object
 5   gender      222 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 10.6+ KB

In [108]:
Wins = Winners.groupby('Draw Date')['Jackpot'].sum()
Wins.head()

Draw Date
1/1/2008      33000000
1/1/2019     437000000
1/13/2009     22000000
1/16/2015    265000000
1/18/2005    131000000
Name: Jackpot, dtype: int64

In [109]:
Winning_Numbers1 = pd.merge(Winning_Numbers, Wins, how= 'outer', on='Draw Date')
Winning_Numbers1.head()

    Draw Date Winning Numbers  Mega Ball  Multiplier  Jackpot
0  09/25/2020  20 36 37 48 67       16.0         2.0      NaN
1  09/29/2020  14 39 43 44 67       19.0         3.0      NaN
2  10/02/2020  09 38 47 49 68       25.0         2.0      NaN
3  10/06/2020  15 16 18 39 59       17.0         3.0      NaN
4  10/09/2020  05 11 25 27 64       13.0         2.0      NaN

### Extract month, day, year, weekday, and quarter from 'Draw Date'.

In [110]:
Winning_Numbers1['month'] = pd.DatetimeIndex(Winning_Numbers1['Draw Date']).month
Winning_Numbers1.head()

    Draw Date Winning Numbers  Mega Ball  Multiplier  Jackpot  month
0  09/25/2020  20 36 37 48 67       16.0         2.0      NaN      9
1  09/29/2020  14 39 43 44 67       19.0         3.0      NaN      9
2  10/02/2020  09 38 47 49 68       25.0         2.0      NaN     10
3  10/06/2020  15 16 18 39 59       17.0         3.0      NaN     10
4  10/09/2020  05 11 25 27 64       13.0         2.0      NaN     10

In [111]:
Winning_Numbers1['day'] = pd.DatetimeIndex(Winning_Numbers1['Draw Date']).day
Winning_Numbers1.head()

    Draw Date Winning Numbers  Mega Ball  Multiplier  Jackpot  month  day
0  09/25/2020  20 36 37 48 67       16.0         2.0      NaN      9   25
1  09/29/2020  14 39 43 44 67       19.0         3.0      NaN      9   29
2  10/02/2020  09 38 47 49 68       25.0         2.0      NaN     10    2
3  10/06/2020  15 16 18 39 59       17.0         3.0      NaN     10    6
4  10/09/2020  05 11 25 27 64       13.0         2.0      NaN     10    9

In [112]:
Winning_Numbers1['year'] = pd.DatetimeIndex(Winning_Numbers1['Draw Date']).year
Winning_Numbers1.head()

,Draw Date,Winning Numbers,Mega Ball,Multiplier,Jackpot,month,day,year
0,09/25/2020,20 36 37 48 67,16.0,2.0,NaN,9,25,2020
1,09/29/2020,14 39 43 44 67,19.0,3.0,NaN,9,29,2020
2,10/02/2020,09 38 47 49 68,25.0,2.0,NaN,10,2,2020
3,10/06/2020,15 16 18 39 59,17.0,3.0,NaN,10,6,2020
4,10/09/2020,05 11 25 27 64,13.0,2.0,NaN,10,9,2020

In [113]:
Winning_Numbers1['weekday'] = pd.DatetimeIndex(Winning_Numbers1['Draw Date']).dayofweek
Winning_Numbers1.head()

,Draw Date,Winning Numbers,Mega Ball,Multiplier,Jackpot,month,day,year,weekday
0,09/25/2020,20 36 37 48 67,16.0,2.0,NaN,9,25,2020,4
1,09/29/2020,14 39 43 44 67,19.0,3.0,NaN,9,29,2020,1
2,10/02/2020,09 38 47 49 68,25.0,2.0,NaN,10,2,2020,4
3,10/06/2020,15 16 18 39 59,17.0,3.0,NaN,10,6,2020,1
4,10/09/2020,05 11 25 27 64,13.0,2.0,NaN,10,9,2020,4

In [114]:
Winning_Numbers1['quarter'] = pd.DatetimeIndex(Winning_Numbers1['Draw Date']).quarter
Winning_Numbers1.head()

,Draw Date,Winning Numbers,Mega Ball,Multiplier,Jackpot,month,day,year,weekday,quarter
0,09/25/2020,20 36 37 48 67,16.0,2.0,NaN,9,25,2020,4,3
1,09/29/2020,14 39 43 44 67,19.0,3.0,NaN,9,29,2020,1,3
2,10/02/2020,09 38 47 49 68,25.0,2.0,NaN,10,2,2020,4,4
3,10/06/2020,15 16 18 39 59,17.0,3.0,NaN,10,6,2020,1,4
4,10/09/2020,05 11 25 27 64,13.0,2.0,NaN,10,9,2020,4,4

In [115]:
Winning_Numbers1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2205 entries, 0 to 2204
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Draw Date        2205 non-null   object
 1   Winning Numbers  2036 non-null   object
 2   Mega Ball        2036 non-null   float64
 3   Multiplier       1133 non-null   float64
 4   Jackpot          198 non-null    float64
 5   month            2205 non-null   int64
 6   day              2205 non-null   int64
 7   year             2205 non-null   int64
 8   weekday          2205 non-null   int64
 9   quarter          2205 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 189.5+ KB

### Convert 'Winning Numbers' to string and then separate terms into individual columns (5).

In [60]:
Winning_Numbers1["Winning Numbers"]= Winning_Numbers1["Winning Numbers"].astype(str)

In [73]:
Winning_Numbers2 = Winning_Numbers1['Winning Numbers'].str.split(' ', expand=True).rename(columns = lambda x: "Ball "+str(x+1))

In [74]:
Winning_Numbers2.head()

  Ball 1 Ball 2 Ball 3 Ball 4 Ball 5
0     20     36     37     48     67
1     14     39     43     44     67
2     09     38     47     49     68
3     15     16     18     39     59
4     05     11     25     27     64

In [75]:
Winning_Numbers2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2230 entries, 0 to 2229
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ball 1  2230 non-null   object
 1   Ball 2  2044 non-null   object
 2   Ball 3  2044 non-null   object
 3   Ball 4  2044 non-null   object
 4   Ball 5  2044 non-null   object
dtypes: object(5)
memory usage: 104.5+ KB

In [124]:
Winning_Numbers3 = pd.concat([Winning_Numbers1, Winning_Numbers2], axis=1)
Winning_Numbers3.drop(columns =["Winning Numbers"], inplace = True)
Winning_Numbers3.head()

,Draw Date,Mega Ball,Multiplier,Jackpot,month,day,year,weekday,quarter,Ball 1,Ball 2,Ball 3,Ball 4,Ball 5
0,09/25/2020,16.0,2.0,NaN,9.0,25.0,2020.0,4.0,3.0,20,36,37,48,67
1,09/29/2020,19.0,3.0,NaN,9.0,29.0,2020.0,1.0,3.0,14,39,43,44,67
2,10/02/2020,25.0,2.0,NaN,10.0,2.0,2020.0,4.0,4.0,09,38,47,49,68
3,10/06/2020,17.0,3.0,NaN,10.0,6.0,2020.0,1.0,4.0,15,16,18,39,59
4,10/09/2020,13.0,2.0,NaN,10.0,9.0,2020.0,4.0,4.0,05,11,25,27,64

In [81]:
Winning_Numbers3.columns

Index(['Draw Date', 'Mega Ball', 'Multiplier', ' amount  won ', 'cash prize',
       'location', 'state', 'gender', 'month', 'day', 'year', 'weekday',
       'quarter', 'Ball 1', 'Ball 2', 'Ball 3', 'Ball 4', 'Ball 5'],
      dtype='object')

In [125]:
Winning_Numbers3.reindex(['Draw Date', 'Jackpot', 'Ball 1','Ball 2', 'Ball 3', 'Ball 4', 'Ball 5', 'Mega Ball','Multiplier', 
      'month', 'day', 'year', 'weekday','quarter'], axis=1)

,Draw Date,Jackpot,Ball 1,Ball 2,Ball 3,Ball 4,Ball 5,Mega Ball,Multiplier,month,day,year,weekday,quarter
0,09/25/2020,NaN,20,36,37,48,67,16.0,2.0,9.0,25.0,2020.0,4.0,3.0
1,09/29/2020,NaN,14,39,43,44,67,19.0,3.0,9.0,29.0,2020.0,1.0,3.0
2,10/02/2020,NaN,09,38,47,49,68,25.0,2.0,10.0,2.0,2020.0,4.0,4.0
3,10/06/2020,NaN,15,16,18,39,59,17.0,3.0,10.0,6.0,2020.0,1.0,4.0
4,10/09/2020,NaN,05,11,25,27,64,13.0,2.0,10.0,9.0,2020.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2225,NaN,NaN,nan,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2226,NaN,NaN,nan,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,NaN,NaN,nan,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,NaN,NaN,nan,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,NaN,NaN,nan,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Export data to excel file.

In [130]:
Winning_Numbers3.to_csv('Lottery_Mega_Millions_Winning_Numbers__Beginning_2002_Wrangled.csv')